@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --header-height: 3rem;
    --nav-width: 68px;

    --first-color: linear-gradient(to right top, #00172c, #000000, #0F2027);
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;

    --body-font: "Montserrat", sans-serif;
    ;
    --normal-font-size: 1rem;

    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height);
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background: var(--first-color);
    height: 93vh;
    padding-top: 50px;

}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: linear-gradient(to right, #0F2027, #0F2027, #00172c);
    z-index: var(--z-fixed);
    transition: .5s;

}

.header-toggle {
    color: white;
    font-size: var(--normal-font-size);
    cursor: pointer;
}


.header-img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;

}

.header-img img {
    width: 40px;
    z-index: 500;
}

/**********************left %?*************************/
.left-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-logo,
.nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;

}

.nav-logo {
    margin-bottom: 2rem;

}

.nav-logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav-logo-name {
    color: var(--white-color);
    font-weight: 700;

}


.nav-link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav-link:hover {
    color: var(--white-color);
}

.nav-icon {
    font-size: 1.25rem;
}





.show {
    left: 0;
}


.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}


.active {
    color: var(--white-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}





.pricing {
    position: relative;
    position: absolute;
    top: 50%;
    right: 40%;
}

.pricing h3 {
    color: white;

}

.pricing a {
    color: lightblue;
    text-decoration: none;

}

.money {
    position: absolute;
    bottom: 65%;
    left: 95%;
    transform: rotate(-30deg);
    color: green;
}








.content {
    display: none
}

.content:first-of-type {
    display: block
}

a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 0;
}

.my-stuff {
    color: white;
    margin: auto;
    text-align: center;
}

.div-one content {
    display: block;

}

.div-five a {
    color: wheat;
}

.settings {
    display: none;
}


form {
    margin: 50px 0 50px 0;

}
input {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: rgb(56, 55, 55);
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    margin-top: .2em;
    margin-bottom: .2em;
    cursor: pointer;
    margin-left: 20px;
  }

#name-form {
    margin: 0;
    margin-bottom: 10px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 800px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header-img {
        width: 40px;
        height: 40px;
    }

    .header-img img {
        width: 45px;
    }

    .left-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }


    .show {
        width: calc(var(--nav-width) + 156px);
    }


    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}

@media (max-width: 1000px) {
    .pricing {

        right: 30%;
    }
}

@media (max-width: 500px) {
    .pricing {

        right: 15%;
    }
}