<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pro.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Pro!</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>


<body>
    <main2>
        <div class="header">
            <h2>What we offer</h2>
        </div>

        <table>
            <tr>
                <th></th>
                <th>Guest</th>
                <th>User</th>

                <th id="pro-user">Pro User <h4>⭐</h4>
                </th>

            </tr>
            <tr>
                <td>Download</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Add to favorites</td>
                <td>X</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Support</td>
                <td>X</td>
                <td>✔</td>
                <td>Direct Support</td>
            </tr>
            <tr>
                <td>Upload</td>
                <td>X</td>
                <td>128 MB Limit</td>
                <td>Unlimited Upload</td>
            </tr>
            <td>Price</td>
            <td>free</td>
            <td>free</td>
            <td>0.99$/m !<h6>84% off</h6>
            </td>
            </tr>

        </table>


    </main2>

</body>

</html>