<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" enctype="multipart/form-data" method="post">
        {%csrf_token%}
        <input required type="text" name="title">
        <input required type="file" name="image">
        {{err}}
        <textarea required name="desc" id="" cols="30" rows="10"></textarea>
        <textarea  name="tags" id="" cols="30" rows="10"></textarea>
        <input  type="submit" value="upload" name="imageForm">
    </form>
</body>
</html>