@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
#pageHead{
    color: dimgray;
}
.name{
    animation: appear;
    animation-duration: 1s;
display: none;}

.Password-confirm{
    display: none;
    animation: appear;
    animation-duration: 1s;
}
.Password{
    
    animation: appear;
    animation-duration: 1s;
}
.Email{
    animation: appear;
    animation-duration: 1s;
}

#finalRegister{
    animation: appear;
    animation-duration: 1s;
    display: none;
}
#finalLogin{
    animation: appear;
    animation-duration: 1s;
    display: block;
}

#login-btn{
    animation: appear;
    animation-duration: 1s;
    display: none;
}
#register-btn{
    animation: appear;
    animation-duration: 1s;
    display: block;
}

input {
    border: 0px solid #01a388;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
    margin-bottom: 1em;

}
.button{
    width: 20px;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: dimgray;
    border: 0px solid white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
    margin-bottom: 1em;
    cursor: pointer;
}

@media(max-width: 500px) {
.login{
    width: 100%;
}
}

.pro{
    bottom: 5px;
}