@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
#pageHead {
  color: #d7d7d7eb;
}
#forgot-pass{
    display: none;
}
#main-form{
    display: block;
    
}
main {
    min-height: 100vh;
    background: var(--dark-gradient-color);
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

.bottons {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Password-confirm {
  animation: appear;
  animation-duration: 1s;
}
.Password {
  animation: appear;
  animation-duration: 1s;
}
.Email {
  animation: appear;
  animation-duration: 1s;
}

#finalRegister {
  animation: appear;
  animation-duration: 1s;
}
#finalLogin {
  animation: appear;
  animation-duration: 1s;
}

#login-btn {
  animation: appear;
  animation-duration: 1s;
}
#register-btn {
  animation: appear;
  animation-duration: 1s;
}
.login{
  background: var(--dark-gradient-color);
}

input {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: dimgray;
    border: 0px solid white;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    margin-top: 1.2em;
    margin-bottom: 1em;
    cursor: pointer;
}

.button {
  width: 20px;
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: dimgray;
  border: 0px solid white;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin-top: 1.2em;
  margin-bottom: 1em;
  cursor: pointer;
}

@media (max-width: 500px) {
  .login {
    width: 100%;
  }
}

.pro {
  bottom: 5px;
}
.pro img{
  right: 30%;
}
