@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");


html {
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    color: white;
    line-height: 1.8em;
    overflow-x: hidden;
    background: linear-gradient(to right top, #00172c, #000000, #0F2027);
    ;
}

p,
span,
em,
a,
address {
    color: #ffffff;
}

h2,
p {
    margin-top: 0;
}

a:hover,
a.active {
    color: #309AFD;
}


/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    overflow: hidden;
    z-index: 5;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: .5em;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  
    background-color: rgb(30 69 104);
    ;
    color: white;
  }
  
  /* Centered section inside the top navigation */
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }
  

.btn {
    padding: 10px 40px;
    color: white;
    background-color: #3299CD;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

button.btn {
    padding: 15px 40px;
}

.btn:hover {
    color: white;
    background-color: #49b4e9;
}

h1 {
    font-size: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-15 {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.color-primary {
    color: #309AFD;
}


body,
ul {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.mt-0 {
    margin-top: 0;
}

.site-header {
    padding: 60px 70px 30px;
}



#video-container {


    position: relative;
}

.container {
    z-index: 999;
    
}




.float-container {
    padding: 20px;
    margin-bottom: 400px;
    
}

.float-child {
    width: 55%;
    height: 300px;
    float: left;
    padding-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: .5rem;
    
    
}

.float-child2 {
    width: 30%;
    height: 300px;
    float: left;
    padding-bottom: 20px;
    margin-left: 10px;


}
.float-child2 div {
margin-bottom: 14px;

}

#image {
    visibility: visible;
    width: 40%;
    height: 50%;
    overflow: hidden;
    border: 0px solid rgb(255, 255, 255);

    margin-right: 10px;
}



.full{
 display: none;
 justify-content: center;
 align-items: center;
  position: absolute;
  z-index: 7000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  color: black;
  background:rgba(0, 0, 0, .8) ;
 

  
  

}
#full{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 8000;
    max-height: 100vh;
    max-width: 100vw;
   
}



.info-line {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}


.float-child img {
    max-width: 110%;
    max-height: 150%;
    overflow: hidden;
    padding: 1px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;

}



.bx {
    font-size: 40px;
}

.nav-item {
    list-style: none;
    margin: 22px;
}

.nav-link {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #D2D3D4;
    border-radius: .5em;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.nav-link:hover,
.nav-link.active {
    color: #30fdb1db;
}


.nav-link i {
    margin-top: 30px;

}

.main-nav ul {

    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}



@media(min-width:1000px){
    .float-child img {
        max-width: 80%;    
    }
}
@media(min-width:1400px){
    .float-child img {
        max-width: 60%;    
    }
}

@media (max-width: 1264px) {
    .main-nav ul {
        max-width: 976px;
    }
}

@media (max-width: 1020px) {
    .main-nav ul {
        max-width: 732px;
    }
}

@media (max-width: 776px) {
    .main-nav ul {
        max-width: 488px;
    }
    .float-child {
        height: 450px;  
        margin-bottom: 20px;
        width: auto;
        margin-left: 1rem;
    }
    .float-child img {
        max-width: 170%; 
        margin-left: 1.8rem;
    }
    #image {
        overflow: visible;
    }

}

@media (max-width: 532px) {
    .main-nav ul {
        max-width: 244px;
        margin-top: 880px;
    }
   
      
}

@media (max-width: 540px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 558px) {
    .site-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .tagline {
        margin-left: 30px;
    }
    
   
    
}
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }