body h3 {
  color: white;
}



table,
td,
th {
  text-align: left;
}

table {
  transition: .7s;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;



}

.header {
  position: absolute;
  top: 25%;
  transition: 1s;

}

tr {
  border: 2px solid #ddd;


}

th,
td {
  transition: .3s;
  padding: 15px;
}



#pro-user {
  position: relative;

}

#pro-user h4 {
  position: absolute;
  bottom: 55%;
  left: 0%;
  transform: rotate(-30deg);
  transition: 1s;

}