#tee {
  min-width: 150px;
  min-height: 50px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 5px 12px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }



#tee:hover, #tee:focus {
  color: #313133;
  transform: translateY(-6px);
}

#tee:hover::before, #tee:focus::before {
  opacity: 1;
}

input::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 3%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

#tee:hover::after, #tee:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    border-radius: 80%;
  }
  100% {
    width: 600px;
    height: 500px;
    opacity: 0;
    border-radius: 0%;
  }
}